{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Welcome, {{ name }}! Edit your profile:
</h1>
<div class="columns is-multiline">
  <div class="column is-one-quarter">
      <div class="card">
      <div class="card-content">
          <div class="media">
          <div class="media-content">
                <p class="title is-4">Name <input type="text" name="name" value="{{ name }}"></p>
                <p class="subtitle is-6"> Job Title <input type="text" name="jobTitle" value="{{ jobTitle }}"></p>
            </div>
            </div>
            <div class="content">
            Email <input type="text" name="email" value="{{ email }}">
            <br>
            Phone <input type="text" name="phone" value="{{ phone }}">
            <br>
            Major <input type="text" name="major" value="{{ major }}">
            <br>
            Bio <input type="text" name="bio" value="{{ bio }}">
            <script>
                var maxLength = 1000;
                $('textarea').keyup(function() {
                var length = $(this).val().length;
                var length = maxLength-length;
                $('#chars').text(length);
                });
            </script>
            //display the current number of characters
            <p>Characters left: <span id="chars">1000</span></p>
            <br>
            {% if student == '0' %}
            Company <input type="text" name="company" value="{{ company }}">
            <br>
            {% endif %}
            Location <input type="text" name="location" value="{{ location }}">
            <br>
            <input type="checkbox" name="public" value="{{ public }}"> Make profile public
            <br>
            Linkedln <input type="text" name="linkedln" value="{{ linkedln }}">
            <br>
            GitHub <input type="text" name="github" value="{{ github }}">
            <br>
            Website <input type="text" name="website" value="{{ website }}">
            <br>
            <br>
            <a href="/edit" class="button">Save Changes</a>
            </div>
        </div>
        </div>
    </div>
</div>
<style>
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .content {
        text-align: center;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .card {
        background-color: #f2f2f2;
    }

</style>
{% endblock %}

