{% extends "base.html" %}
{% block content %}
<h1 class="title">
  Welcome, {{ name }}! Edit your profile:
</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
    {% endif %}
{% endwith %}
<div class="columns is-multiline">
  <div class="column is-half">
      <div class="card">
      <div class="card-content">
          <div class="media">
          <div class="media-content">
            Name <br> <input type="text" name="name" value="{{ name }}"></p>
            Job Title <br> <input type="text" name="jobTitle" value="{{ jobTitle }}"></p>
            </div>
            </div>
            <div class="content">
            Email <br> <input type="text" name="email" value="{{ email }}">
            <br>
            Phone <br> <input type="text" name="phone" value="{{ phone }}">
            <br>
            Major <br> <br> <input type="text" name="major" value="{{ major }}">
            <div></div>
            Bio <br>
            <textarea rows = "10" cols = "10" name = "bio" onkeyup="countChars(this);">{{ bio }}</textarea>
            <script>
                function countChars(obj){
                    var maxLength = 1000;
                    var strLength = obj.value.length;
    
                    if(strLength > maxLength){
                        document.getElementById("charNum").innerHTML = '<span style="color: red;">'+strLength+' out of '+maxLength+' characters</span>';
                    }else{
                        document.getElementById("charNum").innerHTML = strLength+' out of '+maxLength+' characters';
                    }
                }
            </script>
            <p id="charNum">0 characters</p>
            <br>
            {% if student == '0' %}
            Company:  <input type="text" name="company" value="{{ company }}">
            <br>
            {% endif %}
            Location:  <input type="text" name="location" value="{{ location }}">
            <br>
            <input type="checkbox" name="public" value="{{ public }}"> Make profile public
            <br>
            Linkedln:  <input type="text" name="linkedln" value="{{ linkedln }}">
            <br>
            GitHub:  <input type="text" name="github" value="{{ github }}">
            <br>
            Website:  <input type="text" name="website" value="{{ website }}">
            <br>
            <br>
            <a href="/edit" class="button">Save Changes</a>
            </div>
        </div>
        </div>
    </div>
</div>
<style>
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    .content {
        text-align: center;
    }
    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .card {
        background-color: #f2f2f2;
    }

</style>
{% endblock %}

