{% extends "base.html" %}

{% block content %}
<a href="/explore" class="button is-primary">Back</a>
<h1 class="title">
  User Explorer
</h1>
{% if profilePic %}
  <img src="{{ profilePic }}" alt="Profile Picture" width="100" height="100">
{% endif %}
<h2 class="subtitle">
  Name: {{ name }}
</h2>
{% if student == '0' %}
<h3 class="subtitle">
  Job Title: {{ jobTitle }}
</h3>
<h3 class="subtitle">
  Company: {{ company }}
</h3>
{% endif %}
{% if student == '1' %}
<h3 class="subtitle">
  Graduation Year: {{ graduationYear }}
</h3>
{% endif %}
<h3 class="subtitle">
  Email: {{ email }}
</h3>
<h3 class="subtitle">
  Phone: {{ phone }}
</h3>
<h3 class="subtitle">
  Major: {{ major }}
</h3>
<h3 class="subtitle">
  Location: {{ location }}
</h3>
<h3 class="subtitle">
  Website: {{ website }}
</h3>
<h3 class="subtitle">
  Linkedln {{ linkedln }}
</h3>
<h3 class="subtitle">
  Twitter: {{ twitter }}
</h3>
<style>
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }
</style>
{% endblock %}