{% extends "base.html" %}

{% block content %}
<h1 class="title">
  User Explorer
</h1>
<h2 class="subtitle">
  Name: {{ name }}
</h2>
{% if student == '0' %}
<h3 class="subtitle">
  Job Title: {{ jobTitle }}
</h3>
<h3 class="subtitle">
  Company: {{ company }}
</h3>
{% endif %}
<h3 class="subtitle">
  Email: {{ email }}
</h3>
<h3 class="subtitle">
  Phone: {{ phone }}
</h3>
<h3 class="subtitle">
  Major: {{ major }}
</h3>
<h3 class="subtitle">
  Location: {{ location }}
</h3>
<h3 class="subtitle">
  Website: {{ website }}
</h3>
<h3 class="subtitle">
  Linkedln {{ linkedln }}
</h3>
<h3 class="subtitle">
  Twitter: {{ twitter }}
</h3>
{% endblock %}