{% extends "base.html" %}

{% block content %}
<h1 class="title">
  User Explorer
</h1>
//display the passed user details
<h2 class="subtitle">
  {{ name }}
</h2>
<h2 class="subtitle">
  {{ jobTitle }}
</h2>
<h2 class="subtitle">
  {{ email }}
</h2>
<h2 class="subtitle">
  {{ phone }}
</h2>
<h2 class="subtitle">
  {{ major }}
</h2>
<h2 class="subtitle">
  {{ company }}
</h2>
<h2 class="subtitle">
    {{ location }}
</h2>
<h2 class="subtitle">
    {{ phone }}
</h2>
<h2 class="subtitle">
    {{ website }}
</h2>
<h2 class="subtitle">
    {{ linkedin }}
</h2>
<h2 class="subtitle">
    {{ twitter }}
</h2>
{% endblock %}