<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<div class="columns is-multiline">
  <div class="column is-one-quarter">
    <div class="card">
    <div class="card-content">
      <div class="media">
      <div class="media-content">
        <p class="title is-4">{{ name }}</p>
        {% if student == False %}
        <p class="subtitle is-6">{{ jobTitle }}</p>
        <p class="subtitle is-6">{{ company }}</p>
        {% endif %}
      </div>
      </div>
  
      <div class="content">
      <p>Email: {{ email }}</p>
      <br>
      <p>Phone: {{ phone }}</p>
      <br>
      <p>Major: {{ major }}</p>
      <br>
      <p>Bio: {{ bio }}</p>
      <br>
      <p>Linkedln: {{ linkedln }}</p>
      <br>
      <p>Website: {{ website }}</p>
      <br>
      <p>Location: {{ location }}</p>
      <br>
      <br>
      <a href="/edit/{{ id }}" class="button">Edit(doesnt work rn)</a>
      </div>
    </div>
    </div>
  </div>
  <style>
    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
  </style>
{% endblock %}