<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/studentSignup" enctype="multipart/form-data">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone" placeholder="Phone">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select is-large">
                        <select name="major">
                            <option value="none" selected disabled hidden>Select a major or similar major</option>
                            <option value="Computer Science">Computer Science</option>
                            <option value="Cybersecurity">Cybersecurity</option>
                            <option value="Computer Engineering">Computer Engineering</option>
                            <option value="Electrical Engineering">Electrical Engineering</option>
                            <option value="Mechanical Engineering">Mechanical Engineering</option>
                            <option value="Chemical Engineering">Chemical Engineering</option>
                            <option value="Civil Engineering">Civil Engineering</option>
                            <option value="Biomedical Engineering">Biomedical Engineering</option>
                            <option value="Chemistry">Chemistry</option>
                            <option value="Physics">Physics</option>
                            <option value="Mathematics">Mathematics</option>
                            <option value="Biology">Biology</option>
                            <option value="Business">Business</option>
                            <option value="Accounting">Accounting</option>
                            <option value="Finance">Finance</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Management">Management</option>
                            <option value="Entrepreneurship">Entrepreneurship</option>
                            <option value="CMDA">CMDA</option>
                            <option value="BIT">BIT</option>
                            <option value="Economics">Economics</option>
                            <option value="Psychology">Psychology</option>
                            <option value="Sociology">Sociology</option>
                            <option value="Political Science">Political Science</option>
                            <option value="History">History</option>
                            <option value="English">English</option>
                            <option value="Philosophy">Philosophy</option>
                            <option value="Art">Art</option>
                            <option value="Music">Music</option>
                            <option value="Theatre">Theatre</option>
                            <option value="Film">Film</option>
                            <option value="Education">Education</option>
                            <option value="Nursing">Nursing</option>
                            <option value="Medicine">Medicine</option>
                            <option value="Dentistry">Dentistry</option>
                            <option value="Pharmacy">Pharmacy</option>
                            <option value="Law">Law</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="location" placeholder="Location">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textarea class="textarea is-large" name="bio" placeholder="Bio" maxlength="1000"></textarea>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="linkedln" placeholder="Linkedln">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="website" placeholder="Website">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="twitter" placeholder="Twitter">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="gradYear" placeholder="Graduation Year">
                </div>

            <div class="field">
                <div class="control">
                    <label class="checkbox">
                        <input type="checkbox" name="public">
                        Public Profile
                    </label>
                </div>
            </div>



            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}